n8n/Agente Whatsapp.json.backup
{
  "name": "Agente Whatsapp",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "tableId": "Leads",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "keyValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        }
      },
      "id": "a1e17ec1-e309-4eb0-a2cd-79ec37500333",
      "name": "Encontrar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3648,
        848
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "438e89e4-06ad-4bce-85ce-e336f0cca05f",
      "name": "Cliente Existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3856,
        848
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "Leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_nome",
              "fieldValue": "={{ $('Dados Lead').item.json.LeadNome }}"
            },
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        }
      },
      "id": "8963e0c1-daf6-4a2b-9b12-d0018373a3c7",
      "name": "Criar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4080,
        944
      ],
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ca02e599-cc7f-48b6-8050-cf3a8baa0a52",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4320,
        848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('texto').item.json.Mensagem }}",
        "options": {
          "systemMessage": "=<identity>\n  <name>Larissa</name>\n  <alias>Lari</alias>\n  <role>Atendente de Reservas</role>\n  <brand>Pousada Delplata</brand>\n  <mission>\n    Atender hóspedes, tirar dúvidas e converter reservas diretas com clareza,\n    evitando promessas incorretas e garantindo uma boa experiência.\n  </mission>\n  <audience>\n    Casais, famílias e viajantes interessados em se hospedar em Serra Negra.\n  </audience>\n  <tone>\n    Profissional, direto, amigável, estilo WhatsApp.\n    Frases curtas, perguntas objetivas, linguagem simples.\n  </tone>\n</identity>\n\n<variables>\n  DataAtual: {{ $now }}\n</variables>\n\n<constraints>\n  - Nunca invente disponibilidade ou valores.\n  - Nunca confirme reserva sem validação.\n  - Nunca prometa early check-in ou late check-out.\n  - Nunca garanta upgrade.\n  - Não prometa desconto automático.\n  - Sempre deixe claro quando algo depende de disponibilidade.\n</constraints>\n\n<knowledge>\n  - Café da manhã incluso em todas as reservas.\n\n  Acomodações:\n\n  Apto Superior:\n  - Mais completo\n  - Possui ar condicionado\n  - Fica na ala principal\n\n  Apto Térreo:\n  - Fica na ala principal\n  - Não possui janelas\n\n  Chalés:\n  - Ficam a cerca de 70 metros da ala principal\n  - Possuem ventilador de teto (não têm ar condicionado)\n  - Aceitam pets de pequeno porte\n\n  Anexos:\n  - Mesma lógica dos chalés\n  - Fora da ala principal\n  - Sem ar condicionado\n\n  Deslocamento:\n  - Chalés e anexos precisam ir até a ala principal para o café da manhã\n\n  Check-in: a partir das 14h\n  Check-out: até 12h\n</knowledge>\n\n<interaction_logic>\n  1) Sempre entender a necessidade do cliente\n\n  2) Coletar obrigatoriamente:\n  - Data de entrada\n  - Data de saída\n  - Número de pessoas\n\n  3) Responder com base nessas informações\n\n  4) Oferecer opções de forma clara\n\n  5) Conduzir para reserva\n</interaction_logic>\n\n<selling_logic>\n  - Conforto → sugerir apto superior\n  - Economia → sugerir chalé/anexo\n  - Pet → oferecer somente chalé\n\n  Sempre explicar:\n  - Ar condicionado vs ventilador\n  - Localização (ala principal vs afastado)\n</selling_logic>\n\n<upsell_rules>\n  - Só oferecer melhoria se houver disponibilidade\n  - Nunca prometer\n\n  Usar sempre:\n  \"posso verificar disponibilidade\"\n</upsell_rules>\n\n<examples>\n  Cliente:\n  \"Quero reservar\"\n\n  Resposta:\n  \"Perfeito! Me passa só:\n  - Data de entrada\n  - Data de saída\n  - Quantas pessoas 😊\"\n\n  ----\n\n  Cliente:\n  \"Tem ar condicionado?\"\n\n  Resposta:\n  \"O apto superior possui ar condicionado e fica na ala principal.\n\n  Já os chalés e anexos têm ventilador de teto e ficam a cerca de 70 metros.\n\n  Você prefere mais conforto ou algo mais econômico?\"\n</examples>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4656,
        848
      ],
      "id": "a293a3d6-2767-4454-af10-bcc554d3a2c4",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Gatilho\nWhatsApp",
        "height": 508,
        "width": 292,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        656
      ],
      "id": "6f968557-57d6-4ac5-8b64-3409601e3921",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Critérios de Ativação\nFiltros para ativação do Agente",
        "height": 508,
        "width": 292,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2576,
        656
      ],
      "id": "ee4c70e3-b3c1-4464-ae68-de7d071d7c15",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Informações do Lead\nInformações de contato do Lead",
        "height": 508,
        "width": 292,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2912,
        656
      ],
      "id": "1edc9cd2-6059-4f86-b631-84f132db8585",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Registro do Lead no banco de dados (Supabase)\nSalvando os dados do Lead na base de dados.",
        "height": 508,
        "width": 888
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3584,
        656
      ],
      "id": "e770797b-5cb5-4867-8d1f-b4a462c7abcc",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Agente de IA\nAgente inteligente com memória e prompt pré formatado",
        "height": 504,
        "width": 484,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4512,
        656
      ],
      "id": "b49a54d1-97a6-4385-990c-61dea2d33e2d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f488c5c-0b3b-48e9-87b1-5a22d513d1ec",
              "name": "IdConversa",
              "value": "={{ (($('Webhook').item.json.body.data?.key?.remoteJid || $('Webhook').item.json.body.key?.remoteJid || '').split('@')[0]) }}",
              "type": "string"
            },
            {
              "id": "69f6217f-9063-423f-abf4-e94f6b70f94e",
              "name": "LeadNome",
              "value": "={{ $('Webhook').item.json.body.data?.pushName || $('Webhook').item.json.body.pushName || 'Sem nome' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4ab3bf6-31f9-47f1-83ba-09ffc043aa1e",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        848
      ]
    },
    {
      "parameters": {
        "content": "## Envio das Respostas\nEnvio das mensagens no whatsapp",
        "height": 508,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5040,
        656
      ],
      "id": "b8824247-40f8-4794-ae18-e954fc9a62de",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mensagem-teste",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2336,
        848
      ],
      "id": "20268b14-07ae-4d2b-b2db-8e098ede5ce9",
      "name": "Webhook",
      "webhookId": "9c999047-c050-412e-9f87-6c899d49d423"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/delplata2026",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "8129ABA9826B-420A-88E0-6B2DDE20482B"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Dados Lead').item.json.IdConversa, text: $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5136,
        848
      ],
      "id": "319794cc-2bc1-47d9-94fc-f72072d8247d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66a91f66-e755-4120-b22f-44c814f56162",
              "name": "Mensagem",
              "value": "={{ $('Webhook').item.json.body.data?.message?.conversation || $('Webhook').item.json.body.message?.conversation || $('Webhook').item.json.body.data?.message?.extendedTextMessage?.text || $('Webhook').item.json.body.message?.extendedTextMessage?.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3344,
        848
      ],
      "id": "10038285-2f3d-446c-9edc-3717c2e0cf8e",
      "name": "texto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d82c5c4d-abf4-44ec-8d6c-56659f8d7576",
              "leftValue": "={{ ($json.body.event || 'messages.upsert').toLowerCase() }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a2e9441b-e0a7-4a20-984c-077aadf86a65",
              "leftValue": "={{ $json.body.data?.key?.fromMe ?? $json.body.key?.fromMe ?? false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "231f7a95-7903-4bb1-b94c-c0ba82b6a805",
              "leftValue": "={{ (($json.body.data?.key?.remoteJid || $json.body.key?.remoteJid || '').endsWith('@g.us')) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "09edccf6-8694-4d70-805e-846dac1cd344",
              "leftValue": "={{ (($json.body.data?.key?.remoteJid || $json.body.key?.remoteJid || '').includes('@newsletter')) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b9b4276a-f8d2-4f61-86ec-2298bba537f4",
              "leftValue": "={{ $json.body.data?.pushName || $json.body.pushName || '' }}",
              "rightValue": "Felipe Borges - Suporte",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7999a694-488d-4870-9553-4cfb495de523",
              "leftValue": "={{ !!($json.body.data?.message?.conversation || $json.body.message?.conversation || $json.body.data?.message?.extendedTextMessage?.text || $json.body.message?.extendedTextMessage?.text) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b5b7fe5-a982-4a1f-b94e-4e0fee9e184f",
      "name": "Filtro",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        2672,
        848
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4752,
        1024
      ],
      "id": "17622b2d-f838-4b54-ac72-655ed6af3e88",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "31pB58OQNGC0I2Fb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Informações do Lead\nInformações de contato do Lead",
        "height": 508,
        "width": 292,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3248,
        656
      ],
      "id": "474e3688-1257-4bad-9d61-cbd26fda62dc",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5424,
        848
      ],
      "id": "0b7ebd5b-aa09-4ee1-a6bb-b3f0885f9820",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4608,
        1024
      ],
      "id": "48f97f62-c74e-4954-914e-eb2267cbc8b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "diFMALZF6UJa35nv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "axios/1.7.9",
            "content-length": "1086",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "host.docker.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "delplata2026",
            "data": {
              "key": {
                "remoteJid": "5519998701203@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0503A68FDF50CED5DE7"
              },
              "pushName": ".",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "F+l2t9FG8RETWA==",
                    "senderTimestamp": "1774609026",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "0MJEwaQg0f1luQ==",
                    "recipientTimestamp": "1774648413"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "gz5cAvE0YZpWY67lTTOW72k65F1RTIaVfYAGh/UqwW8="
                },
                "conversation": "teste"
              },
              "contextInfo": {
                "ephemeralSettingTimestamp": "1774377535",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "CHAT_SETTING",
                  "initiatedByMe": false
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1774738180,
              "instanceId": "508c6dcc-2794-44aa-836a-688b6f9de7ff",
              "source": "web"
            },
            "destination": "http://host.docker.internal:5678/webhook-test/mensagem-teste",
            "date_time": "2026-03-28T19:49:41.475Z",
            "sender": "5519999654866@s.whatsapp.net",
            "server_url": "http://localhost:8080",
            "apikey": "AB1033CD5E46-474F-9537-6D1C247494E9"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/mensagem-teste",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Encontrar Cliente1": {
      "main": [
        [
          {
            "node": "Cliente Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Existe?1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto": {
      "main": [
        [
          {
            "node": "Encontrar Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5fb8fbf4-2e65-41a6-a562-63fff8dfe7a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5899da75ae67d1ebd3667589ddb09f27975a5ddcea12c7dcc5226e44d13e5aaf"
  },
  "id": "dIGZql5baei2kc4P",
  "tags": []
}