n8n/workflows/hotel-kanban.json
{
  "name": "Hotel CRM - Kanban Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "options": {}
      },
      "id": "c1ea2acb-8804-4b51-b652-32fe49c5cae0",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3200,
        0
      ],
      "webhookId": "hotel-crm-evolution-webhook",
      "notesInFlow": true,
      "notes": "Recebe os eventos da Evolution API. TESTE: use /webhook-test/evolution-webhook apenas apos clicar em Execute workflow, e ele vale para uma chamada. PRODUCAO: use /webhook/evolution-webhook."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-event",
              "leftValue": "={{ ($json.body?.event || $json.event || 'messages.upsert').toLowerCase() }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "filter-fromme",
              "leftValue": "={{ $json.body?.data?.key?.fromMe ?? $json.data?.key?.fromMe ?? false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "filter-group",
              "leftValue": "={{ (($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').endsWith('@g.us')) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "filter-newsletter",
              "leftValue": "={{ (($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').includes('@newsletter')) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "filter-status",
              "leftValue": "={{ ($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '') }}",
              "rightValue": "status@broadcast",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "filter-text",
              "leftValue": "={{ !!($json.body?.data?.message?.conversation || $json.data?.message?.conversation || $json.body?.data?.message?.extendedTextMessage?.text || $json.data?.message?.extendedTextMessage?.text || $json.body?.data?.message?.imageMessage || $json.data?.message?.imageMessage || $json.body?.data?.message?.audioMessage || $json.data?.message?.audioMessage || $json.body?.data?.base64 || $json.data?.base64 || $json.body?.data?.message?.base64 || $json.data?.message?.base64) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "390bef07-0681-45f8-9f4b-ec77b0068d17",
      "name": "Filtro Entrada WhatsApp",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -2920,
        0
      ],
      "notesInFlow": true,
      "notes": "ADICIONADO: ignora grupos, newsletter, status e mensagens enviadas pela propria instância."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead-remotejid",
              "name": "remoteJid",
              "value": "={{ $json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "lead-number",
              "name": "waNumber",
              "value": "={{ (($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').split('@')[0]) }}",
              "type": "string"
            },
            {
              "id": "lead-name",
              "name": "pushName",
              "value": "={{ $json.body?.data?.pushName || $json.data?.pushName || 'Sem nome' }}",
              "type": "string"
            },
            {
              "id": "lead-instance",
              "name": "instanceName",
              "value": "={{ $json.body?.instance || $json.instance || 'delplata2026' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b4a6c6b-73c5-4c6c-91a4-98d4232ab6b0",
      "name": "Normalizar Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        0
      ],
      "notesInFlow": true,
      "notes": "ADICIONADO: padroniza remoteJid, numero sem sufixo e nome do lead para o restante do fluxo."
    },
    {
      "parameters": {
        "jsCode": "const webhookItem = $('Webhook Evolution').first();\nif (!webhookItem) {\n  throw new Error('Normalizar Mensagem: payload do webhook ausente');\n}\n\nconst source = webhookItem.json.body ?? webhookItem.json;\nconst data = source.data ?? {};\nconst message = data.message ?? {};\nconst imageMessage = message.imageMessage ?? {};\nconst audioMessage = message.audioMessage ?? {};\n\nconst rawText = String(\n  message.conversation ||\n  message.extendedTextMessage?.text ||\n  imageMessage.caption ||\n  ''\n).trim();\n\nconst hasImage = imageMessage && Object.keys(imageMessage).length > 0;\nconst hasAudio = audioMessage && Object.keys(audioMessage).length > 0;\nconst messageType = hasImage ? 'image' : hasAudio ? 'audio' : 'text';\n\nconst rawBase64 = String(\n  data.base64 ||\n  source.base64 ||\n  message.base64 ||\n  imageMessage.base64 ||\n  audioMessage.base64 ||\n  ''\n).trim();\nconst mediaBase64 = rawBase64.replace(/^data:[^;]+;base64,/, '');\nconst mimeType = String(imageMessage.mimetype || audioMessage.mimetype || data.mimetype || '').trim();\nconst messageId = String(data.key?.id || '').trim();\nconst minBase64Length = messageType === 'image' ? 500 : 100;\nconst canAnalyzeMedia = Boolean((messageType === 'image' || messageType === 'audio') && mediaBase64 && mimeType && mediaBase64.length >= minBase64Length);\n\nconst extensionFromMime = (type) => {\n  const normalized = String(type || '').toLowerCase();\n  if (!normalized) return 'bin';\n  if (normalized.includes('jpeg')) return 'jpg';\n  if (normalized.includes('png')) return 'png';\n  if (normalized.includes('webp')) return 'webp';\n  if (normalized.includes('ogg')) return 'ogg';\n  if (normalized.includes('mpeg')) return 'mp3';\n  if (normalized.includes('mp4')) return 'mp4';\n  const raw = normalized.split('/')[1] || 'bin';\n  return raw.split(';')[0].split(',')[0].trim() || 'bin';\n};\n\nlet fallbackText = rawText;\nif (!fallbackText) {\n  if (messageType === 'image') {\n    fallbackText = 'O cliente enviou uma imagem.';\n  } else if (messageType === 'audio') {\n    fallbackText = 'O cliente enviou um audio.';\n  }\n}\n\nconst item = {\n  json: {\n    messageType,\n    rawText,\n    fallbackText,\n    mimeType,\n    messageId,\n    canAnalyzeMedia,\n  },\n};\n\nif (canAnalyzeMedia) {\n  const extension = extensionFromMime(mimeType);\n  item.binary = {\n    data: {\n      data: mediaBase64,\n      mimeType,\n      fileExtension: extension,\n      fileName: `${messageType}-${messageId || Date.now()}.${extension}`,\n    },\n  };\n}\n\nreturn [item];"
      },
      "id": "760f9e93-03d6-4794-af4f-e332ee25029f",
      "name": "Normalizar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2360,
        0
      ],
      "notesInFlow": true,
      "notes": "AJUSTADO: detecta texto, imagem e audio; prepara binario da midia quando o webhook da Evolution chegar com base64."
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "kanban_cards",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "keyValue": "={{ $('Normalizar Lead').item.json.waNumber }}"
            }
          ]
        }
      },
      "id": "b748a550-ca46-4c34-8f64-0fd226a8c459",
      "name": "Supabase - Get Lead Stage",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -680,
        0
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "AJUSTADO: usa o formato atual do node Supabase (tableId, keyName, keyValue)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "lead-exists",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c9aee05-8530-41eb-bf99-aa84e67423cd",
      "name": "Lead Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "notesInFlow": true,
      "notes": "ADICIONADO: se o card nao existir, cria um registro inicial no Kanban antes de conversar."
    },
    {
      "parameters": {
        "tableId": "kanban_cards",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $json.lead_id || $('Normalizar Lead').first().json.waNumber }}"
            },
            {
              "fieldId": "hospede_nome",
              "fieldValue": "={{ $('Normalizar Lead').first().json.pushName }}"
            },
            {
              "fieldId": "etapa",
              "fieldValue": "Novo Lead"
            },
            {
              "fieldId": "resumo_solicitacao",
              "fieldValue": "Primeiro contato recebido via WhatsApp."
            },
            {
              "fieldId": "ultima_interacao",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "4b59498a-fdeb-4e51-8d4c-2f0a09a4527c",
      "name": "Supabase - Create Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        180
      ],
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "AJUSTADO AO BANCO REAL: cria o card inicial em kanban_cards com lead_id, hospede_nome, etapa, resumo_solicitacao e ultima_interacao."
    },
    {
      "parameters": {},
      "id": "8f0f7ad0-e69b-4c27-abf2-913027d74eb7",
      "name": "Merge Lead",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -120,
        0
      ],
      "notesInFlow": true,
      "notes": "ADICIONADO: junta o caminho do lead existente com o caminho do lead-criado e segue para a IA."
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "assistant_settings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "1"
            }
          ]
        }
      },
      "id": "7d963f6b-9d74-4ea2-8e4d-35e648af6754",
      "name": "Supabase - Get Assistant Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "Fase 1: le a configuracao operacional da Aura. Se nao houver linha na tabela, o proximo node aplica fallback seguro."
    },
    {
      "parameters": {
        "jsCode": "const row = $json && typeof $json === 'object' ? $json : {};\nconst enabled = row.assistant_enabled !== false;\nconst rawMode = String(row.mode || 'auto').trim().toLowerCase();\nconst normalizedMode = ['auto', 'manual', 'hybrid'].includes(rawMode) ? rawMode : 'auto';\nconst humanHandoffEnabled = row.human_handoff_enabled !== false;\nconst defaultHandoffMessage = String(row.default_handoff_message || 'Atendimento em modo manual. A Aura nao respondera automaticamente.').trim();\nconst shouldAutoReply = enabled && normalizedMode === 'auto';\n\nreturn [{\n  json: {\n    assistantEnabled: enabled,\n    assistantMode: normalizedMode,\n    humanHandoffEnabled,\n    defaultHandoffMessage,\n    shouldAutoReply,\n  },\n}];"
      },
      "id": "4de7397a-25fd-49aa-8947-61146ba932c2",
      "name": "Resolver Modo Aura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "notesInFlow": true,
      "notes": "Normaliza assistant_enabled e mode. Fallback padrao: auto habilitado quando a tabela ainda nao existir ou estiver vazia."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "assistant-auto-enabled",
              "leftValue": "={{ $json.shouldAutoReply === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4f5ee5d-b937-448a-8678-2999058f7763",
      "name": "Modo Automatico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        720,
        0
      ],
      "notesInFlow": true,
      "notes": "Fase 1: somente segue para a Aura quando o modo operacional estiver em auto e o assistente estiver habilitado."
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Normalizar Lead').first().json;\nconst settings = $('Resolver Modo Aura').first().json;\n\nreturn [{\n  json: {\n    status: 'manual_mode',\n    assistantMode: settings.assistantMode,\n    assistantEnabled: settings.assistantEnabled,\n    remoteJid: lead.remoteJid,\n    waNumber: lead.waNumber,\n    note: settings.defaultHandoffMessage,\n  },\n}];"
      },
      "id": "1e6b780d-9aef-477f-9a92-85a9487174db",
      "name": "Modo Manual - Sem Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        180
      ],
      "notesInFlow": true,
      "notes": "Fase 1: registra uma saida explicita de modo manual. O fluxo termina aqui sem enviar resposta automatica."
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Mensagem Interpretada').first().json;\nconst settings = $('Resolver Modo Aura').first().json;\nconst text = String(msg.messageText || '').trim();\n\nconst normalize = (value) => String(value || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase();\n\nconst normalizedText = normalize(text);\nconst handoffRules = [\n  { reason: 'manutencao', patterns: ['chuveiro queimou', 'chuveiro queimado', 'sem agua', 'sem energia', 'ar condicionado nao funciona', 'ar condicionado quebrou', 'tv nao funciona', 'manutencao', 'quarto com problema', 'problema no quarto', 'banheiro entupido', 'vazamento'] },\n  { reason: 'reclamacao', patterns: ['quero reclamar', 'fazer reclamacao', 'fazer uma reclamacao', 'reclamacao', 'reclamar', 'insatisfeito', 'insatisfacao'] },\n  { reason: 'humano', patterns: ['quero falar com humano', 'quero falar com atendente', 'quero falar com uma pessoa', 'falar com humano', 'falar com atendente', 'atendente humano', 'me chama um humano'] },\n  { reason: 'cobranca', patterns: ['cobranca errada', 'cobranca indevida', 'cobraram errado', 'pagamento errado', 'estorno', 'reembolso'] },\n  { reason: 'urgente', patterns: ['urgente', 'emergencia', 'socorro'] },\n  { reason: 'cancelamento sensivel', patterns: ['quero cancelar', 'cancelamento', 'cancelar reserva'] },\n];\n\nlet matchedRule = null;\nlet matchedPattern = null;\nfor (const rule of handoffRules) {\n  const found = rule.patterns.find((pattern) => normalizedText.includes(pattern));\n  if (found) {\n    matchedRule = rule.reason;\n    matchedPattern = found;\n    break;\n  }\n}\n\nconst needsHuman = Boolean(settings.humanHandoffEnabled !== false && matchedRule);\nconst handoffSummary = needsHuman\n  ? `Handoff humano: ${matchedRule}. Mensagem do cliente: ${text || 'sem conteudo legivel'}`\n  : '';\n\nreturn [{\n  json: {\n    ...msg,\n    needsHuman,\n    handoffReason: matchedRule,\n    handoffMatchedPattern: matchedPattern,\n    handoffSummary,\n  },\n}];"
      },
      "id": "7f5df6d4-2a7d-4678-a9c5-aeb866cbf9a4",
      "name": "Classificar Handoff Humano",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "notesInFlow": true,
      "notes": "Fase 2: classifica mensagens sensiveis por regras simples. Se detectar manutencao, reclamacao, cobranca, urgencia ou pedido explicito por humano, o fluxo vai para handoff humano."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-human-handoff",
              "leftValue": "={{ $json.needsHuman === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e21c5ab-7c87-4f5a-9604-d985aa5e5672",
      "name": "Precisa Handoff Humano?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1280,
        0
      ],
      "notesInFlow": true,
      "notes": "Fase 2: interrompe o fluxo automatico quando a mensagem exige um humano."
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Normalizar Lead').first().json;\nconst classification = $('Classificar Handoff Humano').first().json;\n\nreturn [{\n  json: {\n    lead_id: lead.waNumber,\n    new_stage: 'Aguardando Humano',\n    summary: classification.handoffSummary || 'Handoff humano solicitado.',\n    prioridade: 'alta',\n    ultima_interacao: new Date().toISOString(),\n    handoff_reason: classification.handoffReason || 'motivo_nao_identificado',\n  },\n}];"
      },
      "id": "b661c0d3-6218-4b9d-9920-75f67c80f3a3",
      "name": "Preparar Handoff Humano",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        180
      ],
      "notesInFlow": true,
      "notes": "Fase 2: prepara a atualizacao do card para atendimento humano e encerra a automacao sem resposta da Aura."
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "assistant_rules",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "cbac27c6-b5f4-4b01-b8eb-3c6b8659ed64",
      "name": "Supabase - Get Assistant Rules",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1560,
        -240
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "Fase 3: busca a base editavel de regras do hotel direto do Supabase antes da Aura responder."
    },
    {
      "parameters": {
        "jsCode": "const validRules = items\n  .map((item) => item.json || {})\n  .filter((rule) => Object.keys(rule).length > 0)\n  .filter((rule) => rule.active !== false)\n  .filter((rule) => String(rule.category || '').trim() && String(rule.rule_key || '').trim());\n\nconst grouped = new Map();\nfor (const rule of validRules) {\n  const category = String(rule.category).trim();\n  const ruleKey = String(rule.rule_key).trim();\n  const value = String(rule.value || '').trim() || 'Nao cadastrado';\n  if (!grouped.has(category)) grouped.set(category, []);\n  grouped.get(category).push(`- ${ruleKey}: ${value}`);\n}\n\nconst knowledgeContext = grouped.size\n  ? Array.from(grouped.entries())\n      .sort(([a], [b]) => a.localeCompare(b))\n      .map(([category, entries]) => [`[${category}]`, ...entries.sort()].join('\\n'))\n      .join('\\n\\n')\n  : 'Nenhuma regra operacional cadastrada.';\n\nreturn [{\n  json: {\n    knowledgeContext,\n    ruleCount: validRules.length,\n  },\n}];"
      },
      "id": "f89f0eb1-c3c2-4dbd-8ad7-7b0a0939d847",
      "name": "Consolidar Regras Aura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -240
      ],
      "notesInFlow": true,
      "notes": "Fase 3: consolida as regras editaveis em um contexto curto e previsivel para a Aura usar sem hardcode."
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "room_rates",
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "notes": "Fase 4: busca as tarifas editaveis por periodo e tipo de acomodacao antes da Aura cotar.",
      "id": "supabase-get-room-rates-node",
      "name": "Supabase - Get Room Rates",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1980,
        -150
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "room_inventory",
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "condition": "gte",
              "keyValue": "={{ $now.toISODate() }}"
            }
          ]
        }
      },
      "id": "get-room-inventory-node",
      "name": "Supabase - Get Room Inventory",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2120,
        -60
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "NOVO: busca a disponibilidade e precos do mapa de 30 dias."
    },
    {
      "parameters": {
        "jsCode": "const msg = $(\"Mensagem Interpretada\").first().json;\nconst extracted = $(\"Gemini - Extrair Dados Busca\").first().json.output || {};\nconst text = String(msg.messageText || \"\").trim();\n\nconst adults = Number(extracted.adults || 2);\nconst children_6_11 = Number(extracted.children_6_11 || 0);\nconst children_0_5 = Number(extracted.children_0_5 || 0);\nconst totalGuests = adults + children_6_11 + children_0_5;\n\nconst normalize = (value) => String(value || \"\")\n  .normalize(\"NFD\")\n  .replace(/[\\u0300-\\u036f]/g, \"\")\n  .toLowerCase();\n\nconst normalizedText = normalize(text);\n\n// 1. Coleta tarifas base\nconst rates = $(\"Supabase - Get Room Rates\").all()\n  .map((item) => item.json || {})\n  .filter((rate) => Object.keys(rate).length > 0)\n  .filter((rate) => rate.active !== false);\n\n// 2. Coleta inventario\nconst inventoryList = $(\"Supabase - Get Room Inventory\").all()\n  .map((item) => item.json || {});\n\n// 3. Coleta mapeamentos dinamicos (Dashboard)\nconst roomMappings = $(\"Supabase - Get Room Mappings\").all()\n  .map((item) => item.json || {});\n\nconst parseDateValue = (value) => {\n  if (!value) return null;\n  if (value instanceof Date) return Number.isNaN(value.getTime()) ? null : value;\n  const textValue = String(value).trim();\n  if (!textValue) return null;\n  const iso = textValue.match(/^(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (iso) {\n    const date = new Date(Date.UTC(Number(iso[1]), Number(iso[2]) - 1, Number(iso[3])));\n    return Number.isNaN(date.getTime()) ? null : date;\n  }\n  return null;\n};\n\nconst parseMessageDates = (value) => {\n  const found = [];\n  const seen = new Set();\n  const now = new Date();\n  const defaultYear = now.getUTCFullYear();\n  const defaultMonth = now.getUTCMonth() + 1;\n\n  const getLocalToday = () => {\n    const now = new Date();\n    const brShift = -3;\n    const brDate = new Date(now.getTime() + brShift * 3600000);\n    return new Date(Date.UTC(brDate.getUTCFullYear(), brDate.getUTCMonth(), brDate.getUTCDate()));\n  };\n\n  const pushDate = (year, month, day) => {\n    const date = new Date(Date.UTC(year, month - 1, day));\n    if (Number.isNaN(date.getTime())) return;\n    const key = date.toISOString().slice(0, 10);\n    if (seen.has(key)) return;\n    seen.add(key);\n    found.push(date);\n  };\n\n  const rangeMatches = [...String(value).matchAll(/\\b(\\d{1,2})(?:\\/(\\d{1,2})(?:\\/(\\d{2,4}))?)?\\s*(?:a|-|até|ate)\\s*(\\d{1,2})(?:\\/(\\d{1,2})(?:\\/(\\d{2,4}))?)?\\b/gi)];\n  for (const match of rangeMatches) {\n    const startDay = Number(match[1]);\n    const startMonth = match[2] ? Number(match[2]) : (match[5] ? Number(match[5]) : defaultMonth);\n    let startYear = match[3] ? Number(match[3]) : (match[6] ? Number(match[6]) : defaultYear);\n    const endDay = Number(match[4]);\n    const endMonth = match[5] ? Number(match[5]) : startMonth;\n    let endYear = match[6] ? Number(match[6]) : startYear;\n    if (startYear < 100) startYear += 2000;\n    if (endYear < 100) endYear += 2000;\n    pushDate(startYear, startMonth, startDay);\n    pushDate(endYear, endMonth, endDay);\n  }\n\n  const normalized = normalize(value);\n  if (/\\b(hoje|hj)\\b/.test(normalized)) {\n    const d = getLocalToday();\n    pushDate(d.getUTCFullYear(), d.getUTCMonth() + 1, d.getUTCDate());\n  }\n\n  return found.sort((a, b) => a.getTime() - b.getTime());\n};\n\nconst formatCurrency = (value) => `R$ ${Number(value || 0).toFixed(2).replace(\".\", \",\")}`;\nconst formatDate = (date) => `${String(date.getUTCDate()).padStart(2, \"0\")}/${String(date.getUTCMonth() + 1).padStart(2, \"0\")}/${date.getUTCFullYear()}`;\n\nconst parsedDates = parseMessageDates(text);\nconst checkIn = parsedDates[0] || null;\nconst checkOut = parsedDates[1] || (parsedDates[0] ? new Date(parsedDates[0].getTime() + 86400000) : null);\n\nif (!checkIn || !checkOut || checkOut <= checkIn) {\n  return [{ json: { rateContext: \"BASE DE TARIFAS: informe datas e hóspedes.\", nights: 0 } }];\n}\n\nconst nights = Math.round((checkOut.getTime() - checkIn.getTime()) / 86400000);\nconst roomTypes = [\"Apto Terreo\", \"Apto Superior\", \"Chale\", \"Apto Anexo\"];\nconst lines = [];\n\nfor (const roomType of roomTypes) {\n  const mapping = roomMappings.find(m => m.room_type === roomType) || {};\n  const maxCap = Number(mapping.max_capacity || 3);\n  \n  if (totalGuests > maxCap) {\n    lines.push(`- ${roomType}: CAPACIDADE EXCEDIDA (Máx ${maxCap}). Sugerimos reservar +1 quarto.`);\n    continue;\n  }\n\n  let total = 0;\n  let allNightsCovered = true;\n\n  let cursor = new Date(checkIn);\n  while (cursor < checkOut) {\n    const dateStr = cursor.toISOString().slice(0, 10);\n    const inv = inventoryList.find(i => i.room_type === roomType && i.date === dateStr);\n    \n    let base = 0;\n    let extraAdult = Number(mapping.default_extra_adult_price || 100);\n    let child611 = Number(mapping.default_child_6_11_price || 80);\n\n    if (inv) {\n      base = Number(inv.base_price || 0);\n      extraAdult = Number(inv.extra_adult_price || extraAdult);\n      child611 = Number(inv.child_6_11_price || child611);\n    } else {\n      const applicable = rates\n        .filter(r => r.room_type === roomType)\n        .map(r => ({ ...r, from: parseDateValue(r.date_from), to: parseDateValue(r.date_to) }))\n        .filter(r => r.from && r.to && cursor >= r.from && cursor <= r.to);\n      \n      if (!applicable.length) { allNightsCovered = false; break; }\n      base = Number(applicable[0].base_price || 0);\n    }\n\n    let guestsToCharge = [];\n    for (let i = 0; i < adults; i++) guestsToCharge.push(extraAdult);\n    for (let i = 0; i < children_6_11; i++) guestsToCharge.push(child611);\n    for (let i = 0; i < children_0_5; i++) guestsToCharge.push(0);\n\n    guestsToCharge.sort((a, b) => b - a);\n    const charged = guestsToCharge.slice(2); \n    total += base + charged.reduce((s, v) => s + v, 0);\n    \n    cursor = new Date(cursor.getTime() + 86400000);\n  }\n\n  if (!allNightsCovered) {\n    lines.push(`- ${roomType}: INDISPONIVEL.`);\n    continue;\n  }\n\n  lines.push(`- ${roomType}: ${formatCurrency(total)} (Total para ${totalGuests} pessoas).`);\n}\n\nconst rateContext = `DISPONIBILIDADE E TARIFAS (${formatDate(checkIn)} a ${formatDate(checkOut)}):\\n${lines.join(\"\\n\")}`;\n\nreturn [{ json: { rateContext, guests: { adults, children_6_11, children_0_5 }, nights } }];"
      },
      "id": "556f2c82-4a4f-4b06-bf06-a97f9b0f8e7d",
      "name": "Consolidar Tarifas Aura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -240
      ],
      "notesInFlow": true,
      "notes": "Fase 4: calcula o contexto de tarifas por periodo a partir da tabela room_rates antes da Aura cotar."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem Interpretada').first().json.messageText }}",
        "options": {
          "systemMessage": "={{ `Você é a \"Aura\", a recepcionista e vendedora virtual de elite do Hotel Estrela do Mar. Sua missão é atender hóspedes via WhatsApp, qualificar o interesse deles e gerenciar o funil de vendas no CRM.\n\nDIRETRIZES DE ATENDIMENTO:\n1. Responda de forma objetiva e curta, sem repetir a pergunta do cliente.\n2. Se o cliente disser \"fim de semana\", \"fds\", \"hoje\", \"amanhã\" ou termos relativos, use o periodo ja inferido pelo fluxo ou o contexto da conversa. Não pergunte novamente sobre datas se elas puderem ser inferidas.\n3. Se a pergunta for apenas sobre disponibilidade, responda de forma objetiva com os quartos e as unidades restantes para a data quando essa informacao estiver disponivel no contexto.\n4. Se apenas uma acomodacao estiver disponivel, diga explicitamente que somente ela esta disponivel.\n5. Se houver minimo de diarias, mostre sempre o valor total do pacote, nao a diaria unitária.\n6. Se a consulta tiver mais de uma diaria, mostre o valor total do periodo.\n7. Criança de 12 anos ou mais entra como adicional adulto.\n8. Nunca diga que o sistema está instável, em atualização, passando por manutenção ou que vai confirmar manualmente quando a resposta já trouxer disponibilidade ou cotação suficiente.\n9. Se o hóspede já informou adultos, crianças e idades, não pergunte novamente. Se faltar apenas uma informação, peça somente ela.\n10. Use apenas valores presentes na BASE DE TARIFAS DINAMICA abaixo.\n11. Se as datas forem totalmente desconhecidas e impossíveis de inferir, peça check-in e check-out no formato DD/MM/AAAA.\n12. Se a resposta depender de uma disponibilidade que nao esteja explicitamente carregada no contexto, responda que a equipe vai confirmar.\n13. Se um valor estiver como \"Nao cadastrado\" ou \"Nao cadastrada\", diga que a equipe ainda precisa atualizar essa informação no sistema e não invente detalhes.\n14. Nunca invente regras, valores, autorizações, políticas, disponibilidade, descontos, exceções ou procedimentos que não estejam explicitamente na BASE OPERACIONAL DINAMICA ou na BASE DE TARIFAS DINAMICA.\n15. Se a pergunta do lead ou hóspede depender de uma informação que não esteja explicitamente nessas bases, responda que vai falar com o responsável ou com a equipe e retornará com a confirmação.\n16. Quando houver dúvida, priorize segurança operacional: confirme depois, não improvise agora.\n\nBASE OPERACIONAL DINAMICA:\n${$('Consolidar Regras Aura').first().json.knowledgeContext || 'Nenhuma regra operacional cadastrada.'}\n\nBASE DE TARIFAS DINAMICA:\n${$('Consolidar Tarifas Aura').first().json.rateContext || 'Nenhuma tarifa cadastrada.'}\n\nETAPAS DISPONIVEIS:\n- Novo Lead\n- Cotação Enviada\n- Aguardando Pagamento\n- Reserva Confirmada\n- Check-in\n- Check-out/Pós-venda\n- Perdido/Cancelado\n\nSempre que atualizar a etapa, forneça um breve resumo_solicitacao objetivo.\n\nUse exatamente uma destas etapas ao chamar a tool: Novo Lead, Cotação Enviada, Aguardando Pagamento, Reserva Confirmada, Check-in, Check-out/Pós-venda, Perdido/Cancelado.` }}"
        }
      },
      "id": "82d1f283-7f59-481d-ac6a-c90817d1c32e",
      "name": "AI Agent Aura",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3800,
        0
      ],
      "notesInFlow": true,
      "notes": "AJUSTADO: agora le texto normalizado, descricao de imagem e transcricao de audio antes de responder no WhatsApp."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalizar Lead').first().json.remoteJid }}",
        "contextWindowLength": 10
      },
      "id": "a173408c-13c3-4a05-9408-1c288b0baf41",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3940,
        240
      ],
      "notesInFlow": true,
      "notes": "ADICIONADO: memoria por remoteJid para manter contexto por hospede."
    },
    {
      "parameters": {
        "description": "Atualiza a etapa do hóspede no Kanban e salva o resumo da solicitação. Use esta ferramenta sempre que houver mudança de etapa no funil.",
        "jsCode": "const input = typeof $input.item.json === 'object' && $input.item.json !== null ? $input.item.json : {};\nconst new_stage = input.new_stage || 'Novo Lead';\nconst summary = input.summary || 'Lead sem resumo informado';\n\nreturn [{\n  json: {\n    new_stage,\n    summary,\n    lead_id: $('Normalizar Lead').first().json.remoteJid,\n    ultima_interacao: new Date().toISOString()\n  }\n}];",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"new_stage\": \"Cotação Enviada\",\n  \"summary\": \"Casal, 3 diarias, quarto luxo, 12 a 15 de julho\"\n}"
      },
      "id": "593a26a8-392a-422a-9038-bd7f346c9fe1",
      "name": "update_kanban_stage",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        3800,
        220
      ],
      "notesInFlow": true,
      "notes": "AJUSTADO: tool do agente com etapas compativeis com o enum do kanban e saida main para atualizar o card."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "kanban_cards",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "condition": "eq",
              "keyValue": "={{ $json.lead_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hospede_nome",
              "fieldValue": "={{ $('Normalizar Lead').first().json.pushName }}"
            },
            {
              "fieldId": "etapa",
              "fieldValue": "={{ $json.new_stage }}"
            },
            {
              "fieldId": "resumo_solicitacao",
              "fieldValue": "={{ $json.summary }}"
            },
            {
              "fieldId": "ultima_interacao",
              "fieldValue": "={{ $json.ultima_interacao }}"
            },
            {
              "fieldId": "prioridade",
              "fieldValue": "={{ $json.prioridade || 'media' }}"
            }
          ]
        }
      },
      "id": "4c0d2699-eeff-4466-9592-5493d6386108",
      "name": "Supabase - Update Kanban",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4080,
        220
      ],
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "AJUSTADO AO BANCO REAL: atualiza hospede_nome, etapa, resumo_solicitacao e ultima_interacao em kanban_cards filtrando por lead_id."
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Normalizar Lead').first().json;\nconst reply = $('AI Agent Aura').first().json;\n\nconst cleanText = (value) => {\n  const textValue = String(value ?? '').trim();\n  if (!textValue || textValue === 'undefined' || textValue === 'null' || textValue === '[object Object]') {\n    return '';\n  }\n  return textValue;\n};\n\nconst instanceName = cleanText(lead.instanceName);\nconst waNumber = cleanText(lead.waNumber);\nconst text = cleanText(reply.output || reply.text || reply.response || reply.content || reply.result);\n\nif (!instanceName) {\n  throw new Error('Preparar Resposta WhatsApp: instanceName vazio');\n}\n\nif (!waNumber) {\n  throw new Error('Preparar Resposta WhatsApp: number vazio');\n}\n\nif (!text) {\n  throw new Error('Preparar Resposta WhatsApp: text vazio');\n}\n\nconst number = waNumber.includes('@') ? waNumber : waNumber + '@s.whatsapp.net';\n\nreturn [{\n  json: {\n    instanceName,\n    number,\n    text\n  }\n}];"
      },
      "id": "prepare-whatsapp-reply",
      "name": "Preparar Resposta WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4360,
        0
      ],
      "notesInFlow": true,
      "notes": "ADICIONADO: monta e valida instanceName, number e text antes do envio para a Evolution. Se falhar aqui, o payload de entrada do teste esta incompleto ou invalido."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.EVOLUTION_API_BASE_URL || 'http://host.docker.internal:8080') + '/message/sendText/' + $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY || 'SUA_API_KEY_DA_EVOLUTION' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.number, text: $json.text } }}",
        "options": {}
      },
      "id": "b7e75ed9-2475-4272-82af-b5858ddd2622",
      "name": "HTTP Request - Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        0
      ],
      "notesInFlow": true,
      "notes": "AJUSTADO: envia para a Evolution o numero sem o sufixo @s.whatsapp.net, que e o formato mais seguro para sendText. Execute o fluxo completo; evitar testar este node isoladamente com dados ficticios."
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Normalizar Lead').first().json.waNumber }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ { role: 'user', content: $('Mensagem Interpretada').first().json.messageText, pushName: $('Normalizar Lead').first().json.pushName, messageType: $('Mensagem Interpretada').first().json.messageType } }}"
            },
            {
              "fieldId": "hora_data_mensagem",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "6b4bdafb-1648-4cef-b55a-f18a2a803583",
      "name": "Supabase - Save User History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -960,
        0
      ],
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "ADICIONADO: salva a mensagem recebida na tabela n8n_chat_histories."
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hospede_nome",
              "fieldValue": "={{ $(\"Normalizar Lead\").first().json.pushName }}"
            },
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $(\"Normalizar Lead\").first().json.waNumber }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $(\"Normalizar Lead\").first().json.waNumber }}"
            }
          ]
        }
      },
      "id": "cdeb4e58-1ebf-4d9b-b669-420f8401ad9b",
      "name": "Supabase - Create Lead Master",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -120,
        180
      ],
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "ADICIONADO: sincroniza a tabela Leads quando um novo contato entra no funil."
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Normalizar Lead').first().json.waNumber }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ { role: 'assistant', content: $('AI Agent Aura').first().json.output } }}"
            },
            {
              "fieldId": "hora_data_mensagem",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "1aa5917c-208f-448a-a934-729fe5343511",
      "name": "Supabase - Save Assistant History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4080,
        0
      ],
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "kEIfGjkEJRgMsIdQ",
          "name": "Supabase account"
        }
      },
      "notes": "ADICIONADO: salva a resposta da Aura em n8n_chat_histories antes do envio ao WhatsApp."
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3660,
        240
      ],
      "id": "734af457-7a93-4773-b7f0-7e84155d4530",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "diFMALZF6UJa35nv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada WhatsApp\nRecebe o webhook da Evolution, filtra eventos invalidos e prepara a base do atendimento.",
        "height": 220,
        "width": 1120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3360,
        -180
      ],
      "id": "02334010-40cd-4847-9852-15bcce2b3fd4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Normalizacao e Midia\nPadroniza lead e mensagem. Imagem e audio passam por branches proprios e convergem em `Mensagem Interpretada` sem quebrar o fluxo principal.",
        "height": 820,
        "width": 1480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2480,
        -180
      ],
      "id": "0fd99020-537e-4d3e-a91e-1a62020da18c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Interpretacao de Conteudo\nImagem e audio passam por um branch proprio. Quando a midia nao puder ser analisada, o fluxo cai no fallback textual.",
        "height": 660,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2040,
        40
      ],
      "id": "d822db1c-452e-4588-b07b-5f9813aa739d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## CRM, Historico e Controle Operacional\nSalva a mensagem, cria ou reaproveita o lead, aplica modo manual/automatico e faz handoff humano quando necessario.",
        "height": 480,
        "width": 2600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1080,
        -180
      ],
      "id": "c6c470eb-3598-4eea-8d02-afc5c316f70d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Contexto Comercial\nBusca regras operacionais e tarifas para montar um contexto previsivel antes da Aura responder.",
        "height": 220,
        "width": 2200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        -360
      ],
      "id": "0e10c054-1146-4c16-95d4-68dfd6777354",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Agente e Resposta\nA Aura responde com memoria e tool de Kanban. Depois o fluxo salva historico, valida o payload final e envia a mensagem ao WhatsApp.",
        "height": 520,
        "width": 1320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        -180
      ],
      "id": "97481dca-355e-4c37-91bc-2f02c6c5b12d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "message-is-image",
              "leftValue": "={{ $json.messageType === 'image' && $json.canAnalyzeMedia === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-message-image",
      "name": "Mensagem E Imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2080,
        140
      ],
      "notesInFlow": true,
      "notes": "Roteia para interpretacao multimodal quando a mensagem recebida for imagem com base64 disponivel."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "message-is-audio",
              "leftValue": "={{ $json.messageType === 'audio' && $json.canAnalyzeMedia === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-message-audio",
      "name": "Mensagem E Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2080,
        340
      ],
      "notesInFlow": true,
      "notes": "Roteia para transcricao quando a mensagem recebida for audio com base64 disponivel."
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-2.5-flash"
        },
        "text": "={{ $json.rawText ? 'Descreva e interprete esta imagem para atendimento hoteleiro. Considere a legenda do cliente: ' + $json.rawText : 'Descreva e interprete esta imagem para atendimento hoteleiro. Extraia qualquer texto visivel e explique o que o hospede quer comunicar.' }}",
        "inputType": "binary",
        "binaryPropertyName": "data",
        "simplify": true,
        "options": {
          "maxOutputTokens": 300
        }
      },
      "id": "gemini-image-analyze",
      "name": "Google Gemini - Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1800,
        140
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "diFMALZF6UJa35nv",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notesInFlow": true,
      "notes": "Analisa imagens recebidas no WhatsApp usando o mesmo provedor Gemini ja configurado no n8n."
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "binaryPropertyName": "data",
        "simplify": true,
        "options": {}
      },
      "id": "gemini-audio-transcribe",
      "name": "Google Gemini - Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1800,
        340
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "diFMALZF6UJa35nv",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notesInFlow": true,
      "notes": "Transcreve audios recebidos no WhatsApp antes de enviar o contexto para a Aura."
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Normalizar Mensagem').first().json;\nconst messageText = String(msg.fallbackText || '').trim();\nif (!messageText) {\n  throw new Error('Preparar Texto Original: mensagem vazia');\n}\nreturn [{ json: { ...msg, messageText } }];"
      },
      "id": "prepare-text-original",
      "name": "Preparar Texto Original",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1800,
        540
      ],
      "notesInFlow": true,
      "notes": "Mantem texto puro e tambem gera fallback limpo quando chegar midia sem base64 analisavel."
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Normalizar Mensagem').first().json;\nconst analysis = String((($json.content?.parts) || []).map((part) => part.text).filter(Boolean).join('\\n')).trim();\nconst caption = String(msg.rawText || '').trim();\nconst interpretation = analysis || 'Imagem recebida, mas a analise retornou vazia.';\nconst messageText = caption\n  ? `O cliente enviou uma imagem com legenda: \"${caption}\". Interpretacao da imagem: ${interpretation}`\n  : `O cliente enviou uma imagem. Interpretacao da imagem: ${interpretation}`;\nreturn [{ json: { ...msg, messageText } }];"
      },
      "id": "prepare-text-image",
      "name": "Preparar Texto da Imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        140
      ],
      "notesInFlow": true,
      "notes": "Transforma a analise multimodal da imagem em texto que a Aura consegue usar no atendimento."
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Normalizar Mensagem').first().json;\nconst transcript = String((($json.content?.parts) || []).map((part) => part.text).filter(Boolean).join('\\n')).trim();\nconst finalTranscript = transcript || 'Audio recebido, mas a transcricao retornou vazia.';\nconst messageText = `O cliente enviou um audio. Transcricao: ${finalTranscript}`;\nreturn [{ json: { ...msg, messageText } }];"
      },
      "id": "prepare-text-audio",
      "name": "Preparar Texto do Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        340
      ],
      "notesInFlow": true,
      "notes": "Transforma a transcricao do audio em texto unico para historico, IA e CRM."
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({ json: { ...item.json } }));"
      },
      "id": "interpreted-message",
      "name": "Mensagem Interpretada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        0
      ],
      "notesInFlow": true,
      "notes": "Ponto unico do fluxo apos a interpretacao de texto, imagem ou audio."
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Filtro Entrada WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Entrada WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Lead": {
      "main": [
        [
          {
            "node": "Normalizar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensagem": {
      "main": [
        [
          {
            "node": "Mensagem E Imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Lead Stage": {
      "main": [
        [
          {
            "node": "Lead Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Existe?": {
      "main": [
        [
          {
            "node": "Merge Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Create Lead Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Lead Master": {
      "main": [
        [
          {
            "node": "Supabase - Create Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Lead": {
      "main": [
        [
          {
            "node": "Merge Lead",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lead": {
      "main": [
        [
          {
            "node": "Supabase - Get Assistant Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Assistant Settings": {
      "main": [
        [
          {
            "node": "Resolver Modo Aura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Modo Aura": {
      "main": [
        [
          {
            "node": "Modo Automatico?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modo Automatico?": {
      "main": [
        [
          {
            "node": "Classificar Handoff Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Modo Manual - Sem Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Handoff Humano": {
      "main": [
        [
          {
            "node": "Precisa Handoff Humano?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Handoff Humano?": {
      "main": [
        [
          {
            "node": "Preparar Handoff Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Get Assistant Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Assistant Rules": {
      "main": [
        [
          {
            "node": "Consolidar Regras Aura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Regras Aura": {
      "main": [
        [
          {
            "node": "Supabase - Get Room Rates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Get Room Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Room Rates": {
      "main": [
        [
          {
            "node": "Consolidar Tarifas Aura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Room Inventory": {
      "main": [
        [
          {
            "node": "Consolidar Tarifas Aura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Tarifas Aura": {
      "main": [
        [
          {
            "node": "AI Agent Aura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Handoff Humano": {
      "main": [
        [
          {
            "node": "Supabase - Update Kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Aura",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "update_kanban_stage": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Aura",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Aura": {
      "main": [
        [
          {
            "node": "Supabase - Save Assistant History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Save User History": {
      "main": [
        [
          {
            "node": "Supabase - Get Lead Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Save Assistant History": {
      "main": [
        [
          {
            "node": "Preparar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta WhatsApp": {
      "main": [
        [
          {
            "node": "HTTP Request - Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Aura",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem E Imagem?": {
      "main": [
        [
          {
            "node": "Google Gemini - Analyze Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem E Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem E Audio?": {
      "main": [
        [
          {
            "node": "Google Gemini - Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Texto Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini - Analyze Image": {
      "main": [
        [
          {
            "node": "Preparar Texto da Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini - Transcribe Audio": {
      "main": [
        [
          {
            "node": "Preparar Texto do Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto Original": {
      "main": [
        [
          {
            "node": "Mensagem Interpretada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto da Imagem": {
      "main": [
        [
          {
            "node": "Mensagem Interpretada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto do Audio": {
      "main": [
        [
          {
            "node": "Mensagem Interpretada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Interpretada": {
      "main": [
        [
          {
            "node": "Supabase - Save User History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "availability-cleanup-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [],
  "id": "F0KZNnclctpoL9Di",
  "activeVersionId": "622ce64e-5fb7-41c9-aaaf-b866d8a3c7dd"
}