n8n/workflows/legacy/selective-sync.json
{
    "name": "Sync Inteligente de Contatos",
    "nodes": [
        {
            "parameters": {},
            "id": "manual-sync-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [100, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "REPLACE_WITH_EVOLUTION_FIND_CHATS_URL",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "REPLACE_WITH_EVOLUTION_API_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{ \"take\": 100, \"include\": { \"labels\": true } }",
                "options": {}
            },
            "id": "fetch-recent-chats",
            "name": "Buscar Chats Recentes",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [350, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "REPLACE_WITH_SUPABASE_LEADS_REST_URL",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "REPLACE_WITH_SUPABASE_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer REPLACE_WITH_SUPABASE_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ \"lead_id\": ($json.remoteJid || '').split('@')[0], \"lead_nome\": $json.pushName || 'Sem nome', \"labels\": $json.labels || [], \"chatbot_ativo\": true }) }}",
                "options": {}
            },
            "id": "upsert-leads-sync",
            "name": "Atualizar Leads",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [600, 300]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [[{"node": "Buscar Chats Recentes", "type": "main", "index": 0}]]
        },
        "Buscar Chats Recentes": {
            "main": [[{"node": "Atualizar Leads", "type": "main", "index": 0}]]
        }
    }
}
